*{
    margin: 0%;
    border: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

body{

    background-color: #205375;
}
.seccion_1{
    position: relative;
    
}
.menu{
    display: flex;
    height: 75px;
    width: 100%;
    background-color: #112B3C;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.caja_logo{
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
}
.nombre{
    font-size: medium;
    font-weight: 600;
}
.nombre :hover{
    cursor: pointer;
    color: white;
}
.lista_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lista_menu_1{
    display: flex;
    align-items: center; 
}
li{
    list-style: none;
    margin: 0 30px;
    font-size: 15px;
    font-weight: 600;
}
li :hover{
    color: white;
    cursor: pointer;
}
.boton_sesion{
    border-radius: 15px;
    background-color: #3F4E4F;
}
#menu{
    display: none;
}


.seccion2{
    
    max-width: 600px;
    margin: auto;
    
    
}

.cajaCanchas{
    display: flex;
    justify-content: center;
}




.contenedor_jumbotron{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 42rem;
    align-items: center;
    color: black;
}
.fondo{
    width: 100%;
    height: 428px;
    background-image: url(./img/cancha.jpg);
    justify-content: center;
    
}
.cajaForm{
    width: 100%;
    position: relative;
}
.nombreinput{
    width: 100%;
}